/SelOrderServer/bin
/SelOrderServer/obj
/SelOrderServer/.vs
/selorder-server/bin
/selorder-server/obj
/selorder-server/.vs
/selorder-server/.vs
/selorder-integration/selorder-integration/obj
/selorder-integration/selorder-integration/bin
/selorder-integration/.vs
